<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050631469935-88brdqj1b4mu69inohbg9qne816f8f5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050631469935-88brdqj1b4mu69inohbg9qne816f8f5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhrOrMU_ER0HCwVHdN42-ec2oYFoY4fg</string>
	<key>GCM_SENDER_ID</key>
	<string>1050631469935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-experimental-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>my-experimental-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050631469935:ios:a19ac547fbbe2e8cf8469a</string>
</dict>
</plist>